.wrapper
{
    margin: 0 auto;
    width: 960px;
} 

#logo
{
   top:60px ! important;
}

#colLeft
{
    float:left;
    margin-right:10px;
    width:670px;
}

#colRight
{
    float:left;
    width:280px;
}

#footerInner
{
    margin: 0 auto;
    width: 960px;   
}

.editor-field .time input
{
    width:20px;
}

.edit .form_actions 
{
    display:block; 
    height:40px;
    margin:5px 10px 5px 10px;
}
.edit .form_actions a
{
    float:left;
}
.edit .form_actions input
{
    float:right;
}